<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jw.menumateapp.mappers.MemberMapper">
	<insert id="SignUp" parameterType="com.jw.menumateapp.dto.Member">
		INSERT INTO Member_MenuMateApp (
		userId,
		userPassword,
		userName,
		phoneNumber,
		birthdate,
		address,
		signupDate
		) VALUES (
		#{userId},
		#{userPassword},
		#{userName},
		#{phoneNumber},
		#{birthdate},
		#{address},
		SYSDATE
		)
	</insert>

</mapper>