<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jw.menumateapp.home.mappers.MemberMapper">
    <insert id="SignUp" parameterType="com.jw.menumateapp.home.dto.SignupMemberDTO">
        INSERT INTO Member_MenuMateApp (
            memberId,
            userId,
            userPassword,
            userName,
            phoneNumber,
            birthdate,
            address,
            signupDate
        ) VALUES (
           	#{memberId},
            #{userId},
            #{userPassword},
            #{userName},
            #{phoneNumber},
            #{birthdate},
            #{address},
            SYSDATE
        )
    </insert>

    <select id="getNextMemberId" resultType="int">
    	select memberId_seq.nextVal from dual
    </select>
</mapper>